* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #ff5c5c 0%,
    #d63a3a 50%,
    #a11f1f 100%
  );
  background-image: url('assets/page.gif'); /* Remplacez le chemin par le chemin réel de votre image */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); /* 50% de transparence */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 28px;
  color: #a11f1f;
  font-weight: 700;
}

input {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ff5c5c;
  border-radius: 8px;
  color: #212121;
  outline: none;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background-color: #a11f1f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #870d0d;
}
